doctype html

html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp' crossorigin='anonymous')
    link(rel='stylesheet' href='css/main.css')
    title DreamShare
  body
    .error
      p On your device can&apos;t be view this site !!!!
    .container
      // --------------------------------------------------------------------------------------------
      header
        .col-12.col-md-12.bg-my
          .sign
            .login Log in
            .signup Sign up
          .header__text
            span.header__text_1 DREAMSHARE
            span.header__text_2 SHARE YOUR HOLIDAY DREAM
            span.header__text_3 And find the perfect partner to fullfill it
            .header__text_find Find your holiday partner
      // --------------------------------------------------------------------------------------------
      section
        .sec_dream How Dreamshare works?
        .row.steps
          .col-12.col-md-12.steps__one
            .steps__one_text1 STEP 1
            .steps__one_text2 Sed leo enim, condimentum
            .steps__one_text3
              | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
              | rhoncus a leo sit amet facilisis.
          .col-12.col-md-4.steps__two
            .steps__two_text1 STEP 2
            .steps__two_text2 Morbi velit risus
            .steps__two_text3
              | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet
              | porttitor est.
          .col-12.col-md-4.steps__three
            .steps__three_text1 STEP 3
            .steps__three_text2 Sed leo enim, condimentum
            .steps__three_text3
              | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
              | rhoncus
              | a leo sit amet facilisis.
      // --------------------------------------------------------------------------------------------
      section
        .section_name Meet a partner for your best holiday
        .row.staff
          .col-12.col-md-6.col-lg-3.col-xl-3.col-xxl-3.staff__info
            .staff__info_logo1
            .staff__info_name Bradley Hunter
            .staff__info_adress Based in Chicago. I love playing tennis and loud music.
          .col-12.col-md-6.col-lg-3.col-xl-3.col-xxl-3.staff__info
            .staff__info_logo2
            #ch1.staff__info_name2 Diana Wells
            #ch2.staff__info_name2 Marie Bennett
            #adr1.staff__info_adress2
              | Living in Athens, Greece. I love black and white classics, chillout
              | music and
              | green tea.
            #adr2.staff__info_adress2
              | Currently living in Colorado. Lover of art, languages and
              | travelling.
          .col-12.col-md-6.col-lg-3.col-xl-3.col-xxl-3.staff__info
            .staff__info_logo3
            #cha1.staff__info_name.staff__info_name3 Marie Bennett
            #cha2.staff__info_name Diana Wells
            #adre1.staff__info_adress
              | Currently living in Colorado. Lover of art, languages and
              | travelling.
            #adre2.staff__info_adress.staff__info_adressXL
              | Living in Athens, Greece. I love black and
              | white classics, chillout music and
              | green tea.
          .col-12.col-md-6.col-lg-3.col-xl-3.col-xxl-3.staff__info
            .staff__info_logo4
            .staff__info_name.staff__info_name4 Christopher Pierce
            .staff__info_adress.staff__info_adressXLL
              | Star Wars fanatic. I have a persistent enthusiasm to
              | create new things.
      // --------------------------------------------------------------------------------------------
      .see_other See other partners
      section
        .section_name.sec_activity Discover holiday activity ideas
        .row.ideas
          .col-12.col-md-4
            .ideas__br
            .ideas__image_sport
              .ideas__image_text Sports and Activis
          .col-12.col-md-4
            .ideas__image_health
              .ideas__image_textH Wellness and Health
          .col-12.col-md-4
            .ideas__image_extreme
              .ideas__image_textH.ideas__image_textH1 Extreme Sports and Expeditions
          .col-12.col-md-4
            .ideas__image_games
              .ideas__image_textH Games
          .col-12.col-md-8
            .ideas__image_culture
              .ideas__image_textC Culture and Education
          .col-12.col-md-8
            .ideas__image_relax
              .ideas__image_textC Enjomet and Relaxation
          .col-12.col-md-4
            .ideas__image_trevell
              .ideas__image_textH Trevelling
      // --------------------------------------------------------------------------------------------
      section
        .section_name.sec_holiday Crate your holiday activity
        .row.search
          .col-12.col-md-12.col-lg-12.col-xl-12
            .search__data_text Hi! What are your holiday interests?
          .col-12.col-md-6.col-lg-6.col-xl-6.search__data_width
            .search__data_input
              input(type='text' placeholder='Enter your insterests')
          .col-12.col-md-6.col-lg-6.col-xl-6
            .search__data_button
              input(type='button' value='Search partners')
      // --------------------------------------------------------------------------------------------
      footer
        .row.footer
          .col-12.col-md-3.footer__sec1
            p DREAMSHARE
          .col-12.col-md-3.footer__sec2
            p Company
            .footer__sec2_text
              p About
              p Contact
              p Press
              p Blog
              p Terms and Privacy
              p Help
          .col-12.col-md-3.footer__sec3
            p Partners
          .col-12.col-md-3.footer__sec4
            p DESIGNED BY
            .footer__sec4_img
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js' integrity='sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js' integrity='sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js' integrity='sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i' crossorigin='anonymous')
